.form {
  margin: 0px 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.form>label {
  color: goldenrod;
}

.input {
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
  display: block;
}

.button {
  width: 140px;
  cursor: pointer;
  text-transform: capitalize;
  background: rgb(194, 194, 199);
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 0;
  color: rgb(29, 28, 25);
  font-weight: 600;
}


.Header-appear {
  transform: translateY(-100%);

}

.Header-appear-active {
  transform: translateY(0);
  transition: transform 5000ms;

}
